$color-transition-time: 0.2s;

.filter {
  display: flex;
  justify-content: space-between;
  color: var(--cls-filter-text);
  background-color: var(--cls-bg-item);
  padding: 20px 25px;
  font-size: 15px;
  border-top: 1px solid var(--cls-item-border);
  border-radius: 0 0 7px 7px;

  @media (max-width: 575px) {
    position: relative;
    border-radius: 0 0 7px 7px;
  }

  @media (max-width: 415px) {
    font-size: 14px;
  }

  &--items-left {
    user-select: none;
    min-width: 110px;
  }

  &--div {
    display: flex;
    justify-content: space-between;
    width: 35%;

    @media (max-width: 575px) {
      position: absolute;
      align-items: center;
      justify-content: center;
      transform: translateY(140%);
      border-radius: 7px;
      background-color: var(--cls-bg-item);
      width: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: var(--shadow-todo);
    }

    @media (max-width: 500px) {
      transform: translateY(125%);
    }

    & span {
      font-weight: var(--font-weight-bold);
      transition: color $color-transition-time;

      @media (hover: hover) {
        &:hover:not(.filter--active) {
          color: var(--cls-text-hover);
        }
      }

      @media (max-width: 575px) {
        font-size: 18px;
        padding: 12px;
      }

      @media (max-width: 415px) {
        font-size: 16px;
      }
    }
  }
  &--div span,
  &--clear-text {
    text-transform: capitalize;
    cursor: pointer;
    user-select: none;
  }
  &--clear {
    &-div {
      position: relative;
    }
    &-confirmation {
      color: hsl(234, 39%, 85%);
      font-size: 18px;
      position: absolute;
      top: 0;
      transform: translateY(-115%);
      background-color: #ff3333;
      width: 225px;
      padding: 20px;
      border-radius: 7px;
      animation: fadeIn 0.25s ease-out;
      animation-fill-mode: forwards;

      @media (max-width: 825px) {
        transform: translate(-50%, -115%);
      }
      @media (max-width: 500px) {
        transform: translate(-45%, -115%) scale(0.9);
      }
      @media (max-width: 310px) {
        transform: translate(-125px, -115%) scale(0.9);
        width: 75vw;
      }

      button {
        padding: 10px 20px;
        border-radius: 6px;
        border: none;
        margin-top: 20px;
        cursor: pointer;
        font-weight: var(--font-weight-bold);

        &:hover {
          background-color: darken($color: #fff, $amount: 30);
        }
      }
    }
    &-text {
      transition: color $color-transition-time;

      @media (hover: hover) {
        &:hover {
          color: var(--cls-item-text);
        }
      }
    }
  }

  &--active {
    color: var(--cls-bright-blue);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
